.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-left {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 750px) {
  .header-logo {
    width: 40%;
  }
}
